
      <h1>Simple form</h1>
      <p>This is a simple form example.</p>
      <form action="http://itp.nyu.edu/~tca241/sinatra/change/hello" method="GET">
        <p><label>Please enter your name:</label> <input type="text" name="yourname" /></p>
        <input type="submit" value="Submit!" /></p>
      </form>
