
    <div class="container">
    

      <p>You can add a new item to believe in.</p>
      
      <div class="container">

      <form form action="../maketag" method="POST" class="form-horizontal">
        <h2 class="form-negtag-heading">New Tag</h2>
        <div class="control-group">
	    <label class="control-label" for="item">Item Name</label>
       	<div class="controls">
	    <input class="span5" type="text" name="name" placeholder="Mouse Ears">
	    </div>
        </div>
        
        <div class="control-group">
        <label class="control-label" for="tagid">Tag Number</label>
        <div class="controls">
	    <input class="span3" type="text" name="tagid" placeholder="3012393">
	    </div>
        </div>
        
        
        <div class="control-group">
        <label class="control-label" for="price">Price</label>
        <div class="controls">
	    <div class="input-prepend">
	    <span class="add-on">$</span>
        <input class="span2" name="price" type="text" placeholder="20.00">
        </div>
        </div>
        </div>
        
        <div class="control-group">
        <div class="controls">
        <label class="radio">
		<input type="radio" name="purpose" name="purpose" value="false" checked>
		  Personal Item - Change for Me
		</label>
		<label class="radio">
		  <input type="radio" name="purpose" name="purpose" value="true">
		  Social Good Item - Change for Everyone
		</label>
        </div>
        </div>
        
         <div class="control-group">
        <label class="control-label" for="imgurl">Image URL</label>
        <div class="controls">
		<input type="url" class"span7" name="imgurl" placeholder="image url">
        </div>
        </div>
        <div class"control-group">
        <div class="controls">
	  <button class="btn btn-large btn-primary" type="submit">Add Tag</button>
        </div>
        </div>
      </form>

    </div> 
    
  